<div *ngIf="!album" class="row">
	<div class="col-6">
		<!--TODO: populate with album name-->
		<h1>{{albumObj.name}}</h1>
		<!--TODO: set src to album image URL-->
		<!--<img id="albumImg">-->
		<img src="{{ albumObj.imageURL }}"/>
		<!--TODO: loop over album artists-->
		<p>
			<!--TODO: link to artist page, display artist name-->
			Artist: <a>{{albumObj.artists[0].name}}</a>
		</p>
		<p>
			<!--TODO: link to artist page on spotify, display artist name-->
			
			<a href="https://open.spotify.com/artist/ + {{artistId}}" class="btn btn-light" role="button" target="_blank" >Open {{albumObj.name}} on Spotify</a>
			<!-- <a href="{{albums[items][artists][external_urls][spotify]}}" class="btn btn-light" role="button" target="_blank" >Open {{albumObj.name}} on Spotify</a> -->
		</p>
	</div>
	<div class="col-6">
		<h3>Album Tracks</h3>
		<!--TODO: display the track list for the album. Hide the artist and album columns because they are redundant on this page.-->
		<!--<app-track-list *ngIf="this.topTracks" [tracks]="topTracks"></app-track-list>-->
		<app-track-list *ngIf="this.tracksAlbum" [tracks]="tracksAlbum"></app-track-list>
	</div>
</div>